<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include _head.html %}

<body>

  <header class="container-fluid">
    <nav class=" navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li role="presentation" id="home"><a href="index.html">Home</a></li>
            <li role="presentation"><a href="index.html">About</a></li>
            <li role="presentation"><a href="index.html">Contact</a></li>
          </ul>
        </div>
      </div>

    </nav>

    <img src="images/header.png">
  </header>

  <main class="page-content" aria-label="Content">
    <div class="container-fluid">
      {{ content }}
      
    </div>
  </main>

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          Chris Tuck for IBEW &copy; 2017<br/>
          Tuck4AK@gmail.com<br/>
          (907) 223-6474<br/>
          <a href="https://www.facebook.com/TuckFor1547BusinessManager/" target="_blank">Facebook</a>
        </div>
        <div class="col-xs-12 col-sm-6">
          Website by 49th Floor Studios, LLC
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript">    
    var currentLink = $("li#{{ page.link }}");    
    currentLink.toggleClass('active');
  </script>

</body>

</html>